.carouselPage {
  background: url("../../images/happy-birthday-bunting.jpg") no-repeat center
    center fixed;
  background-size: cover;
}

.carouselContainer {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}
