.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #8458A0;

}

.birthdate {
  font-size: 25px;
  font-weight: 600;
  color: #89CFF0;
}
